umd/.babelrc
umd/readme.md
esm/.babelrc
esm/readme.md
developer.md
.vscode
examples.js
developer.code.js
todo
example.test.js
examples.js
desktop.ini
prototyping.js
prototyping
methods
info.md
Prototypes
umd/developer.md
esm/developer.md
jsdoc.json
docs
jest.config.json
__tests__